<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>hekekeke</p>
    <ul>
        <li>
            <img src=<%= bookDetail.thumbnail %> />
        </li>
        <li>
            <%= bookDetail.title %>
        </li>
        <li>
            <%= bookDetail.authorName %>
        </li>
        <li>
            <%= bookDetail.description %>
        </li>

        <form action="/update/<%=bookDetail.id %>?_method=put" method="POST" class="hide_form">
            <label for="title">title:</label><br>
            <input type="text" id="tilte" name="title" value="<%= bookDetail.title %>"><br>

            <label for="identifier">identifier</label><br>
            <input type="text" id="identifier" name="identifier" value="<%= bookDetail.identifier %>"><br><br>
            <label for="thumbnail">image URL</label><br>
            <input type="text" id="thumbnail" name="thumbnail" value="<%= bookDetail.thumbnail %>"><br><br>
            <label for="description">description</label><br>
            <input type="text" id="description" name="description"
                value=" <%= bookDetail.description %>"><br><br><br><br>

            <button>update</button>
        </form>

        <form action="/delete/<%= bookDetail.id %>?_method=delete" method="POST">

            <button>Delete</button>

        </form>
    </ul>



</body>

</html>