<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <p> heloooo</p>
    <%= booksNum %> 
    <ul>
        <%  DBresult.forEach(book =>{ %>
        <li>
            <img src=<%= book.thumbnail %> />
        </li>
        <li>
            <%= book.title %>
        </li>
        <li>
            <%= book.authorname %>
        </li>
        <li>
            <%= book.description %>
        </li>
        <%  }) %>
    </ul>
</body>
</html>